BODY,TD  {
	font-size : 8pt;
	font-family : Verdana,Arial,sans-serif;
	color : #ffffff;
}

.alt2 {
	background-color : #99CD18;
}

.border {
	border: 1pt solid #050547;
}

.pageHeader {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10pt;
		color: #ffffff;
		font-weight: bold;
		background-color : #333366; }
		
.pagesubHeader {
	font-size : 8pt;
	font-weight: regular;
	font-family : Arial, Helvetica, sans-serif;
	color : #FFFFFF;
	background-color: #050547;
}

.pagesubHeader2 {
	font-size : 8pt;
	font-weight: regular;
	font-family : Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #050547;
}

.boxhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
}


.pageBody {
	font-size : 8pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #FFFFFF;
	background-color: #333366;
}

.pageLinks {
	font-size : 8pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #FFFFFF;
	background-color: #333366;
}

.pageNested {
	font-size : 8pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #FFFFFF;
	background-color: #333366;
}

.formInput {
	font-size : 8pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #000000;
	background-color: #FFFFFF;
}

.formButton {
	font-size : 8pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #000000;
	background-color: #EEEEEE;
}

.alert {
	font-size : 8pt;
	font-weight: bold;
	font-family : Verdana,Arial,sans-serif;
	color : #ff0000;
}

.disclaimer {
	font-size : 6pt;
	font-weight: normal;
	font-family : Verdana,Arial,sans-serif;
	color : #000000;
}

a {
	color : 99CD18;
	text-decoration : underline;
}

a:active {
	color : 99CD18;
	text-decoration : underline;
}

a:hover {
	color : 99CD18;
	text-decoration : underline;
}

a:visited {
	color : 99CD18;
	text-decoration : underline;
}

A.NestedPage { 
	font-weight : bold; 	
	color : 99CD18;
}

A.altLink, A.altLink:Active, A.altLink:Visited { COLOR: #99CD18; }

A.altLink:Hover { COLOR: #99CD18; }
